</head>
<body>
  <nav>
    <!--! font awesome icon -->
    <a id="icon" href="/flights">
      <i class="fas fa-film fa-2x"></i>
    </a>
    <!--! Add a class to the 'add movie' so we can highlight what section we are in  -->
    <a 
      href="/flights/new" 
      <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/movies" 
      <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      All FLIGHTS
    </a>

  </nav>