h1 {
  display: flex;
  justify-content: center;
  color: var(--text);
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 40em;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, .20);
  padding: 1em;
  margin-top: 3em;
}


form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > div > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
  background-color: var(--nav);
  color: var(--accent);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .06);
  border-radius: 25px;
}

select, input {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, .06);
  border-radius: 25px;
}

#add-meal-div {
  width: 100%;
}

#add-meal-form, table {
  display: flex;
  flex-direction: column;
}

table {
  display: flex;
  align-items: center;
}