<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css">
<%- include('../partials/nav') %>

<main>
  <section class="main-container">
    <p>Please ensure the meal has not already been add to the list</p>
    <form id="add-meal-form" action="/meals" method="POST">
      <div id="add-meal-div">
        <label for="name-input">Meal:</label>
        <input type="text" name="name" id="name-input">
        <button type="submit">Add Meal</button>
      </div>
        <table>
          <% meals.forEach(function(meal) { %>
            <tr>
            <td><%= meal.name %></td>
          </tr>
        <% }) %>
      </table>
    </form>
  </section>
</main>


<%- include("../partials/footer") %>